a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin: 0px;
    padding: 1px 5px;
    background-color: blue;
    color: white;
}

div {
    /*background-color: #999999;*/
}

div#header {
    width: 1280px;
    height: auto;
    margin: 0px;
}

a#homepage {
    display: block;
    width: 164px;
    height: 88px;
    background-repeat: no-repeat;
    background-image: url(images/logo.gif);
}

div#navibar {
    height: auto;
    padding: 0px 3px;
    background-color: blue;
    border-radius: 10px;
}

div#navibar ul {
    overflow: hidden;
    margin: 0px;
    padding: 10px;
}

li#navi {
    margin: 0px 20px;
    float: left;
    list-style: none;
    font-size: 150%;
    font-family: 微软雅黑;
}

li#navi a {
    color: white;
}

div#up {
    overflow: hidden;
    padding: 10px 10px 0px 10px;
}

div#Login {
    float: left;
    width: auto;
    height: auto;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: blue;
    margin: 5px 10px;
}

div#Login ul {
    overflow: hidden;
    margin: 20px 20px;
    padding: 0px;
}

div#banner {
    float: left;
    width: 920px;
    height: 180px;
    border-style: solid;
    margin: 5px 10px;
}

div#down {
    width: 1280px;
    overflow: hidden;
}

div#down div.downmaindiv {
    border-style: solid;
    margin: 20px 20px;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: blue;
}

li#MobileNewspaper {
    color: red;
}

div#footer {
    width: 1280px;
}
