a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin: 0px;
    padding: 1px 5px;
    background-color: blue;
    color: white;
}

div {
    background-color: #999999;
}

div#header {
    width: 1280px;
    height: 88px;
    margin: 0px;
}

a#homepage {
    display: block;
    width: 164px;
    height: 88px;
    background-repeat: no-repeat;
    background-image: url(images/logo.gif);
}

div#navibar {
    height: 40px;
    padding: 0px 3px;
    background-color: blue;
    border-radius: 10px;
}

div#navibar li {
    margin: 0px 20px;
    float: left;
    list-style: none;
    font-size: 140%;
    font-family: 微软雅黑;
}

div#navibar li a {
    color: white;
}

div#up {
    height: 270px;
    padding: 10px 10px 0px 10px;
}

div#Login {
    float: left;
    width: 300px;
    height: 250px;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: blue;
    margin: 5px 10px;
}

div#banner {
    float: left;
    width: 900px;
    height: 250px;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: blue;
    margin: 5px 10px;
}

div#down {
    width: 1280px;
    height: 800px;
}

div#down div.downmaindiv {
    border-style: solid;
    margin: 20px 20px;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: blue;
}

li#MobileNewspaper {
    color: red;
}

div#footer {
    width: 1280px;
    height: 20px;
}
